@import "../../../styles/variable";
@import "../../../styles/mixins";

.containerForm1 {
  margin: 0;
  margin-top: 15px;

  .form1 {
    border-radius: 32px;
    background-image: url("./img/formBackgroundMini.png");

    .contentForm1 {
      padding: 54px;

      .containerInputs1 {
        display: flex;
        @include textPlaceholderColor;

        .input1 {
          width: 500px !important;
          @include inputsForms;
          @include colorInputFormQuestions;
        }

        .textArea1 {
          width: 500px !important;
          @include textAreasForms;
          @include colorInputFormQuestions;
          margin-left: 90px;
        }
      }
    }
  }
}
