.signUpContent{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;

  .signUpCard{
    display: flex;
    flex-direction: column;
    gap: 15px;

    .signUpField{
      display: flex;
      flex-direction: row;
      gap: 5px
    }

    .buttonComponent{
      display: flex;
      flex-direction: row;
      gap: 25px;
    }
  }
}
