.profileContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .profileCard{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
