@import "../../../styles/buttonBrown.module";

.mainBlock{
  width: 1564px;
  height: 620px;
  border-radius: 32px;
}

.textHeading{
  @extend .textFont
}

.sliderBlock{
  position: relative;
}

.contentBlock{
  position: absolute;
  left: 65px;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 97px;
}

.textBlock{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 38px;
}

.textDescription{
  @extend .textFont;
  font-size: 24px;
  font-family: Montserrat, sans-serif;
  width: 790px;
  min-height: 123px;
  text-align: left;
}
