@import "../../styles/textFont.module";

.logoContent{
  display: flex;
  flex-direction: row;
  gap: 47px;
  width: 488px;
  justify-content: center;
  align-items: center;
}

.logoText{
  @extend .textFont;
  font-weight: 600;
  line-height: 120%;
}

.logoImg{
  width: 180px;
  height: 180px;
}
