@import "../../../styles/variable";
@import "../../../styles/mixins";

.layout {
  border-right: 1px solid #F0F0F0;
  max-height: 100%;

  .sider {
    position: relative;
    background-color: $color-beige;
    color: $color-beige;
  }
}

.logo {
  padding: 65px 31.5px 30px 25px;
}

.logoMin {
  padding: 65px 22px 30px 22px;
}

.button {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 37px;
  right: -12px;
  z-index: 12;
}
