.blockIcon{
  width: 130px;
  height: 130px;
  background-color: #D9D9D9;
  text-align: center;
  line-height: 170px;
  border-radius: 100%;
}

.contactIcon{
  & svg{
    width: 54.17px;
    height: 53.14px;
  }
}
