$color-brown: #8D6D5A;
$color-sand: #8D6D5A;
$color-orange: #EAAE79;
$color-peach: #FBCA9F;
$color-black: #000;
$color-black-30: #383230;
$color-white: #fff;
$color-body: #BFAEA4;

.anticon {
  svg {
    width: 6.875em;
    height: 6.875em;
  }
}
