@import "../../../styles/textFont.module";

.socialLabel{
  @extend .textFont;
  font-size: 38px;
  font-weight: 600;
  line-height: 120%;
}

.socialContent{
  width: 418px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.socialImgContent{
  display: flex;
  flex-direction: row;
  gap: 59px;
  justify-content: center;
}

.socialImg{
  width: 50px;
  height: 50px;
}

.socialImgTk{
  @extend .socialImg;
  width: 70px;
}
