@import "../../styles/icon.module";

.contactsBlockColumn{
  display: flex;
  flex-direction: column;
  gap: 90px;
  width: 100%;
  padding-top: 57px;
  padding-bottom: 144px;
  background-color: #383230;
}

.contactsBlockRow{
  display: flex;
  flex-direction: row;
  padding-left: 143px;
  padding-right: 143px;
  gap: 143px;
}

.contactsBlockRowLogo{
  @extend .contactsBlockRow;
  gap: 485px;
}
