@import "../../styles/icon.module";

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #383230;
}

.contactsBlockColumn{
  display: flex;
  flex-direction: column;
  gap: 90px;
  padding-top: 57px;
  padding-bottom: 144px;
}

.contactsBlockRow{
  display: flex;
  flex-direction: row;
  padding-left: 85px;
  padding-right: 85px;
  gap: 143px;
}

.contactsBlockRowLogo{
  @extend .contactsBlockRow;
  gap: 610px;
}
