@import "../../../styles/variable";
@import "../../../styles/mixins";

.container {
  display: flex;
  justify-content: space-between;
  height: 100%;

  .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    gap: 20px;
  }
}
